{% extends "base.html" %}

{% block content %}
<section class="resume-section" id="about">
    <div class="resume-section-content">
    <div class="subheading mb-5">Sign In</div>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p class="lead mb-5">
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="lead mb-5">
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="lead mb-5">{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p class="lead mb-5">{{ form.submit() }}</p>
    </form>
    </div>
    </div>
    </section>
{% endblock %}