{% extends "base.html" %}

{% block content %}
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Jacob's
            <span class="text-primary">Pop Acta Draft App</span>        
        </h1>                    
            <div class="subheading mb-5">
                Easily The Best Fantasy Draft App That Pop Acta's Ever Made
                <!-- <a href="mailto:name@email.com">name@email.com</a> -->
            </div>        
            <div class="player-lists">
                
                    <div class="col-3">
                        <div class="player-text-1">
                            <b>Undrafted Players</b><br />
                            {% for player in UndraftedPlayers %}
                            
                            <a href="{{ '/updateplayerownership/%i' %player.id }}">{{ player.playername }} | <b>{{ player.position }}</b> - <i>{{ player.value }}</i> points.</a><br />
                                        
                            {% endfor %}  
                        </div>
                        
                    </div>            
                    <div class="col-3">
                        <div class="player-text-1"> 
                            <b>Drafted Players</b><br />
                            {% for player in DraftedPlayers %}
                            
                            <a href="{{ '/updateplayerownership/%i' %player.id }}">{{ player.playername }} | <b>{{ player.position }}</b> - <i>{{ player.value }}</i> points.</a><br />
                                        
                            {% endfor %}  
                        </div>
                                        
                    </div>
                
            </div>
            <br /><br /><br /><br />
            
            <div class="player-lists">
                
                <div class="col-1">
                    <div class="player-text-2">
                        <b>Team 1</b><br />
                        {% for player in UndraftedPlayers %}
                        
                        <a href="{{ '/updateplayerownership/%i' %player.id }}">{{ player.playername }} | <b>{{ player.position }}</b> - <i>{{ player.value }}</i> points.</a><br />
                                    
                        {% endfor %}  
                    </div>
                    
                </div>            
                <div class="col-1">
                    <div class="player-text-2"> 
                        <b>Team 2</b><br />
                        {% for player in DraftedPlayers %}
                        
                        <a href="{{ '/updateplayerownership/%i' %player.id }}">{{ player.playername }} | <b>{{ player.position }}</b> - <i>{{ player.value }}</i> points.</a><br />
                                    
                        {% endfor %}  
                    </div>
                                    
                </div>
                <div class="col-1">
                    <div class="player-text-2">
                        <b>Team 3</b><br />
                        {% for player in UndraftedPlayers %}
                        
                        <a href="{{ '/updateplayerownership/%i' %player.id }}">{{ player.playername }} | <b>{{ player.position }}</b> - <i>{{ player.value }}</i> points.</a><br />
                                    
                        {% endfor %}  
                    </div>
                    
                </div>            
                <div class="col-1">
                    <div class="player-text-2"> 
                        <b>Team 4</b><br />
                        {% for player in DraftedPlayers %}
                        
                        <a href="{{ '/updateplayerownership/%i' %player.id }}">{{ player.playername }} | <b>{{ player.position }}</b> - <i>{{ player.value }}</i> points.</a><br />
                                    
                        {% endfor %}  
                    </div>
                                    
                </div>
            
        </div>
        
    </div>
</section>    
{% endblock %}